:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: var(--color2);
  text-decoration: none;
}
/* ------HEADER------ */
.header {
  background-color: var(--color5);
}
header {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
}
header li:first-child {
  flex-basis: 100%;
  text-align: center;
}
header li:first-child a {
  background-color: transparent;
}
header li {
  flex-basis: 48.5%;
  margin-bottom: 0.5rem;
}
header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color10);
  border-radius: 5px;
}
header a:hover {
  background-color: var(--color1);
  color: var(--color5);
}
/* ------SECTION------ */

section {
  max-width: 1200px;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
}
section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
section ul {
  padding: 0;
  margin: 0;
}
section img {
  width: 100%;
}

section ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
/* перекинул блок наверх */
.d3 {
  grid-row: 1/2;
}
/* ------FOOTER------ */
.footer {
  background-color: var(--color5);
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}
footer li {
  margin-right: 1rem;
}
footer h4 {
  margin-top: 0;
}
footer address {
  font-style: normal;
  margin-top: 2rem;
  font-weight: bold;
}

/* ------media queries------ */
@media (min-width: 550px) {
  header {
    padding: 3rem;
  }
  header ul {
    justify-content: center;
    gap: 1.2em;
  }
  header li {
    flex-basis: auto;
    margin-bottom: 0;
  }
  header a {
    color: var(--color1);
    background-color: transparent;
    padding: 0;
  }
  header a:hover {
    color: var(--color2);
    background-color: transparent;
  }
}
